@eprox-gmbh:registry=https://gitlab.com/api/v4/packages/npm/
@ava:registry=https://gitlab.com/api/v4/groups/65084418/-/packages/npm/

//gitlab.com/api/v4/packages/npm/:_authToken=glpat-NsbbqCAF5nTw-MydTK5t
//gitlab.com/api/v4/groups/65084418/-/packages/npm/:_authToken=glpat-NsbbqCAF5nTw-MydTK5t
